
# Ignore package manager directories
/node_modules/
/vendor/

# Ignore log files
*.log

# Ignore environment-specific files
.env

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?